@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #161722;
  height: 100%;
  position: relative;
  color: #fafafa;
  letter-spacing: 1px;
}
.header {
  background-image: url(../public/images/bg-desktop-dark.jpg);
  background-size: cover;
  height: 40vh;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: -20rem;
}
.main__section {
  width: 54rem;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #e4e5f1;
}
.heading__box {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.primary__heading {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 14px;
}
.light__icon {
}

.moon__icon {
  display: none;
}

.input__box {
  display: flex;
  align-items: center;
  background-color: #25273d;
  padding: 2rem 1rem;
  gap: 1.5rem;
}

.todo__input {
  background-color: #25273d;
  border: 0;
  outline: none;
  color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
  font-size: 1.8rem;
  width: 100%;
}

.todo__list-box {
  background-color: #25273d;
}
.todo__text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todo__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  border-bottom: 1px solid #777a92;
}

.check__icon,
.border {
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid #393a4b;
  border-radius: 50%;
  padding: 1rem;
}
.border {
  background-color: transparent;
}
.checked__icon {
  /* add when clicked on icon */
  padding: 0.3rem;
  background-image: url(../public/images/icon-check.svg),
    linear-gradient(to right bottom, #57ddff, #c058f3);
  background-size: cover;
}

.todo__text {
  font-size: 1.8rem;
  color: #c8cbe7;
}

.checked__text {
  /* add when clicked on icon */
  text-decoration: line-through;
  color: #4d5067;
}

.remove__icon {
  margin-left: auto;
  color: #000;
}
.summary__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: #777a92;
}
.left__states {
  font-size: 1.4rem;
}

.todo__states {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-size: 1.1rem;
}

.All__states,
.Active__states,
.Completed__states,
.clear__completed {
  transition: all 0.3s;
  font-size: 1.4rem;
}

.Active__states:hover,
.Completed__states:hover,
.All__states:hover,
.clear__completed:hover {
  color: #e4e5f1;
}

.completed__states {
}

.clicked__states {
  color: #3a7bfd;
}

/* UTILITIES */
body,
.header,
.input__box,
.todo__input,
.todo__list-box,
.todo__text,
.todo__list,
.todo__text-box {
  transition: all 0.4s;
}

.All__states,
.Active__states,
.Completed__states,
.clear__completed,
.remove__icon,
.check__icon,
.moon__icon,
.light__icon {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 31.25em) {
  .main__section {
    width: 100vw;
  }

  .all__states,
  .active__states,
  .completed__states,
  .clear__completed {
    font-size: 0.8rem;
  }
}

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
